/*Zero*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body.lock {
  overflow: hidden;
}

.conteiner {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}

.Wraper {
  padding-top: 50px;
  width: 100%;
}

.Wraper .weather .weather__conteiner .weather__title {
  font-size: 6rem;
  line-height: 1.2;
}

.Wraper .weather .weather__conteiner .weather__title:not(:last-child) {
  margin-bottom: 50px;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__content {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(rgb(2, 2, 145)), to(rgb(155, 110, 117)));
  background: -o-linear-gradient(left, rgb(2, 2, 145), rgb(155, 110, 117));
  background: linear-gradient(to right, rgb(2, 2, 145), rgb(155, 110, 117));
  text-align: start;
  border-radius: 15px;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__content:not(:last-child) {
  margin-bottom: 80px;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__content .place-weather__text .place-weather__city-name {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__content .place-weather__text .place-weather__city-name:not(:last-child) {
  margin-bottom: 10px;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__content .place-weather__text .place-weather__temp {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__content .place-weather__text .place-weather__temp:not(:last-child) {
  margin-bottom: 30px;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__content .place-weather__text:not(:last-child) {
  margin-right: 10px;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__content .place-weather__image {
  max-width: 100%;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__form {
  background-color: #000000;
  border-radius: 10px;
  width: 100%;
  color: #000;
  padding: 20px;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__form .place-weather__input {
  width: 100%;
  padding: 20px 0px 20px 10px;
  background-color: #fff;
  border: 1px solid transparent;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__form .place-weather__input:not(:last-child) {
  margin-bottom: 50px;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__form .place-weather__input::-webkit-input-placeholder {
  color: #000;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__form .place-weather__input::-moz-placeholder {
  color: #000;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__form .place-weather__input:-ms-input-placeholder {
  color: #000;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__form .place-weather__input::-ms-input-placeholder {
  color: #000;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__form .place-weather__input::placeholder {
  color: #000;
}

.Wraper .weather .weather__conteiner .place-weather .place-weather__form .place-weather__button {
  text-align: center;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 60px;
  display: inline-block;
  border-radius: 10px;
  width: 100%;
  border: 1px solid transparent;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

@media screen and (min-width: 768.99px) {
  .Wraper .weather .weather__conteiner .place-weather .place-weather__form .place-weather__button:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
  }
}

@media screen and (max-width: 1201px) {
  .conteiner {
    padding: 0px 10px;
  }
}